body{
	margin: 0px;
	padding: 0px;
}
#wrapper{

}
#topbar{
	width: 100%;
	height: 0%;
	background-color: #1c1c1c;		
}
#bodyContainer{
	height: 100%;
	width: 100%;
}

/* jstreeview */
#fileContainer{
	float: left;
	width: 240px;
	height: 100%;
	display: none;
	overflow: hidden;
	font-family: monospace;
	/* overflow: hidden; */
}
#fileControls{
	width: 100%;
	height: 28px;
	float: left;
	background-color: #222;
}
.fc_icon{
	width: 20px;
	height: 20px;
	padding-top: 4px;
	float: left;
	padding-left: 4px;
}
.fc_icon_right{
	width: 20px;
	height: 20px;
	padding-top: 4px;
	float: right;
	padding-right: 4px;
}
#jstreeContainer{
	background-color: #272822;
	color: #FFF;
	width: 100%;
	height: 100%;
}
.jstree-default .jstree-hovered {
	background-color: #555;
}
.jstree-default .jstree-clicked {
	background: #696969;
}

#showHideTreeView{
	width: 8px;
	height: 100%;
	background-color: #272822;
	float: left;
}
#showHideTreeView:hover{
	background-color: #777;
}

/* Code Mirror */
#sourceEditor{
	width: 100%;
	height: 100%;
}
.CodeMirror{
	height: 100%;
}

/* Bottom */
#bottomBar{
    top: 300px;
    right: 10px;
	/*height: ;*/
	width: 200px;
    position: absolute;
    z-index: 2147483647;
    color:white;
	background-color: #000000;
}